<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
    <main>
        <h1><%= header %></h1>
        <form action="<%= action %>" method="POST">
            <% fields.forEach(field=>{ %>
                <p>
                    <label><%= field.name %></label>
                    <input type="text"
                        name="<%= field.name.toLowerCase() %>"
                        size="<%= field.size %>"
                        value="<%= field.value %>"
                        <%= field.readonly %>
                    >
                </p>
            <% }) %>
            <button type="submit">Submit</button>
        </form>
    </main> 
</body>
</html>